spring:
  application:
    name: backend
  datasource:
    url: jdbc:mysql://${RDS_HOST}:${RDS_PORT}/${RDS_DB_NAME}
    username: ${RDS_USERNAME}
    password: ${RDS_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
      show-sql: true
    database-platform: org.hibernate.dialect.MySQLDialect
  servlet:
    multipart:
      enabled: true
      max-file-size: 15MB
      max-request-size: 15MB
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE.CLIENT-ID}
            client-secret: ${GOOGLE.CLIENT-SECRET}
            redirect-uri: ${GOOGLE.REDIRECT-URI}
            scope:
              - email
              - profile
logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type: TRACE
    org.springframework.security: TRACE
server:
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true
  tomcat:
    max-http-form-post-size: 15MB
JWT:
  SECRET-KEY: ${JWT_KEY}